In [207]:
import os
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [208]:
# pagina exemplo https://www.valor.com.br/carteira-valor-iframe/historico/7/2020

file_name = '2020_7_carteira_valor.html'
mes = file_name.split('_')[1]
ano = file_name.split('_')[0]
print(ano, mes)
file_path = os.path.join('htmls', file_name)

tabelas = pd.read_html(file_path)

2020 7

In [209]:
# carteira valor
df_carteira_valor = tabelas[0]

# preenche as colunas ano e mês
df_carteira_valor['ano'] = ano
df_carteira_valor['mes'] = mes.zfill(2)
df_carteira_valor['anomes'] = ano+mes

# filtra apenas as colunas que eu quero
df_carteira_valor = df_carteira_valor[[
    'ano',
    'mes',
    'anomes',
    'Ações',
    'Var. %*',
    'Indicações'
]]

# renomeia as colunas
a_renomear = {
    'Ações': 'Ações',
    'Var. %*': 'Desempenho',
    'Indicações': 'Indicações'
}

df_carteira_valor.rename(a_renomear, axis='columns', inplace=True)

df_carteira_valor

    ano mes anomes                      Ações  Desempenho  Indicações
0  2020  07  20207              B3 ON (B3SA3)        1542           7
1  2020  07  20207      VIA VAREJO ON (VVAR3)        2750           7
2  2020  07  20207       PETROBRAS PN (PETR4)         302           6
3  2020  07  20207          BRASIL ON (BBAS3)         445           5
4  2020  07  20207            VALE ON (VALE3)         857           5
5  2020  07  20207          GERDAU PN (GGBR4)         899           4
6  2020  07  20207            RUMO ON (RAIL3)        -120           3
7  2020  07  20207         LOCAWEB ON (LWSA3)        1088           3
8  2020  07  20207        BRADESCO PN (BBDC4)         849           3
9  2020  07  20207  MAGAZINE LUIZA ON (MGLU3)        1277           3

In [210]:
for df in tabelas:
    #print(df)
    print('-------------------------------------------------------------------------')

-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------

In [211]:
# resultado carteira valor
df = tabelas[1]

df = df.transpose()

headers = df.iloc[0]
df  = pd.DataFrame(df.values[1:], columns=headers)

# preenche as colunas ano e mês
df['ano'] = ano
df['mes'] = mes.zfill(2)
df['anomes'] = ano+mes

df['nome'] = 'carteira_valor'

# renomeia as colunas
a_renomear = {
    'Média no mês': 'media_mes',
    'Acumulado no ano 1': 'acumulado_ano',
    'Acumulado em 12 meses 1': 'acumulado_12_meses'
}

df.rename(a_renomear, axis='columns', inplace=True)

# filtra apenas as colunas que eu quero
df = df[[
    'ano',
    'mes',
    'anomes',
    'nome',
    'media_mes',
    'acumulado_ano',
    'acumulado_12_meses'
]]

# divide por 100 os campos numéricos
df['media_mes'] = df['media_mes']/100
df['acumulado_ano'] = df['acumulado_ano']/100
df['acumulado_12_meses'] = df['acumulado_12_meses']/100

df

0   ano mes anomes            nome media_mes acumulado_ano acumulado_12_meses
0  2020  07  20207  carteira_valor      9.89         -8.74               7.03

In [212]:
# resultado carteira valor
df = tabelas[2]

df = df.transpose()

headers = df.iloc[0]
df  = pd.DataFrame(df.values[1:], columns=headers)

# preenche as colunas ano e mês
df['ano'] = ano
df['mes'] = mes.zfill(2)
df['anomes'] = ano+mes

df['nome'] = 'ibovespa'

df.dtypes

# renomeia as colunas
a_renomear = {
    'No mês': 'media_mes',
    'No ano 1': 'acumulado_ano',
    'Acumulado em 12 meses 1': 'acumulado_12_meses'
}

df.rename(a_renomear, axis='columns', inplace=True)

# filtra apenas as colunas que eu quero
df = df[[
    'ano',
    'mes',
    'anomes',
    'nome',
    'media_mes',
    'acumulado_ano',
    'acumulado_12_meses'
]]

# converte para número
df['media_mes'] = pd.to_numeric(df['media_mes'])
df['acumulado_ano'] = pd.to_numeric(df['acumulado_ano'])
df['acumulado_12_meses'] = pd.to_numeric(df['acumulado_12_meses'])

# divide por 100 os campos numéricos
df['media_mes'] = df['media_mes']/100
df['acumulado_ano'] = df['acumulado_ano']/100
df['acumulado_12_meses'] = df['acumulado_12_meses']/100

df

0   ano mes anomes      nome  media_mes  acumulado_ano  acumulado_12_meses
0  2020  07  20207  ibovespa       8.27         -11.01                1.08

In [213]:
#evolucao_carteira 3, remove ultimo registro informativo
df = tabelas[3][:-1]

# preenche as colunas ano e mês
df['ano'] = ano
df['mes'] = mes.zfill(2)
df['anomes'] = ano+mes

a_renomear = {
    'Unnamed: 1': 'corretora', 
    'Mês %': 'desempenho_mes', 
    'Ano % 2': 'desempenho_ano'
}

df.rename(a_renomear, axis='columns', inplace=True)

# filtra apenas as colunas que eu quero
df = df[[
    'ano',
    'mes',
    'anomes',
    'corretora',
    'desempenho_mes',
    'desempenho_ano'
]]

# converte para número
df['desempenho_mes'] = pd.to_numeric(df['desempenho_mes'])
df['desempenho_ano'] = pd.to_numeric(df['desempenho_ano'])

# divide por 100 os campos numéricos
df['desempenho_mes'] = df['desempenho_mes']/100
df['desempenho_ano'] = df['desempenho_ano']/100

df

     ano mes anomes                  corretora  desempenho_mes  desempenho_ano
0   2020  07  20207        Ágora Investimentos           10.48           -5.05
1   2020  07  20207        Ativa Investimentos           10.36          -28.28
2   2020  07  20207           BB Investimentos           19.37            0.96
3   2020  07  20207     CM Capital Corretora 3           15.09          -14.68
4   2020  07  20207        Elite Investimentos            6.65            3.07
5   2020  07  20207       Genial Investimentos           16.13            3.38
6   2020  07  20207        Guide Investimentos           14.59           38.30
7   2020  07  20207            Mirae Corretora           18.19           10.43
8   2020  07  20207                  Modalmais            4.47            1.20
9   2020  07  20207      MyCAP Investimentos 3            7.62           -7.37
10  2020  07  20207                     Necton           13.89           -8.03
11  2020  07  20207  Nova Futura Investimentos           15.95           33.11
12  2020  07  20207          Planner Corretora            8.94           -5.02
13  2020  07  20207            Safra Corretora            9.15          -21.96
14  2020  07  20207        Santander Corretora            7.76          -35.71
15  2020  07  20207           Socopa Corretora            5.34          -20.10
16  2020  07  20207        Terra Investimentos            7.80          -18.96
17  2020  07  20207           XP Investimentos            8.67          -29.29